*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
:root{
    --primary-color: #0D2A4C;
    --secondary-color: #0277FF;
    --background-color: #E4E4E4;
    --light-gray: #00000018;
    --text-color: #000000;
    --border-radius: 5px;
}
h1{
    font-size: 3rem;
    color: var(--text-color);
    letter-spacing: 0.03rem;
}
h5{
    font-size: 1.3rem;
    color: var(--text-color);
    margin-bottom: 0.5rem;
}
.bg-light-gray{
    background-color: var(--light-gray) !important;
}
.row.g-3 p{
    font-size: 1rem;
}
.icon-bg {
    background: #fff;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 4px rgba(0,0,0,0.05);
    flex-shrink: 0;
}
.icon-bg svg {
    width: 60%;
    height: 60%;
    display: block;
}

.legend-dot {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 4px;
}