*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
:root{
    --primary-color: #0D2A4C;
    --secondary-color: #0277FF;
    --third-color: #0D2A4C;
    --background-color: #E4E4E4;
    --light-gray: #00000018;
    --text-color: #000000;
    --border-radius: 5px;
}
h1{
    font-size: 3rem;
    color: var(--text-color);
    letter-spacing: 0.03rem;
}
h5{
    font-size: 1.3rem;
    color: var(--text-color);
    margin-bottom: 0.5rem;
}
.bg-light-gray{
    background-color: var(--light-gray) !important;
}
.row.g-3 p{
    font-size: 1rem;
}
.icon-bg {
    background: #fff;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 4px rgba(0,0,0,0.05);
    flex-shrink: 0;
}
.icon-bg svg {
    width: 60%;
    height: 60%;
    display: block;
}

.legend-dot {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 4px;
}

main {
    padding-bottom: 80px; 
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.17) 0 -4px 5px -1px;
}
footer svg{
    width: 2rem;
    height: 2rem;
}
.icon-active {
    color: var(--secondary-color);
   
}
.icon-add-card {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background-color: var(--third-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-footer-bg {
    /* Define o tamanho do círculo de fundo */
    width: 3rem; 
    height: 2.3rem;
    
    /* Cor de fundo (coloquei um azul claro baseado na sua imagem) */
    background-color: #e6f0fa; 
    
    /* Transforma em círculo */
    border-radius: 30%;
    
    /* Centraliza o SVG dentro do círculo usando Flexbox */
    display: flex;
    justify-content: center;
    align-items: center;

}